* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus {
    outline: none;
}

body {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}
.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
}
.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.logo {
    height: 2rem;
}
form {
    padding: 1rem;
    position: relative;
}
.form-input {
    width: 45rem;
    height: 3rem;
    padding: 0 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 1px rgba(78, 78, 78, 0.3);
}
form i {
    position: absolute;
}
.clear {
    top: 1.9rem;
    right: 9rem;
    color: gray;
    font-size: 1.5rem;
    border-right: 2px solid rgb(187, 187, 187);
    padding-right: 1rem;
}
.mic {
    color: grey;
    top: 1.9rem;
    right: 6rem;
    font-size: 1.5rem;
}
.search {
    color: gray;
    top: 1.9rem;
    right: 3rem;
    font-size: 1.5rem;
}
.sign-in-container {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 3rem;
}
.sign-in-container img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
}
.sign-in-btn {
    color: #fff;
    background-color: rgb(75, 122, 224);
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 5px;
}
.list-links {
    margin: 0 auto;
}
.list-links ul {
    display: flex;
    list-style: none;
    margin-left: 10rem;
    color: rgb(153, 152, 152);
    font-size: 0.95rem;
}
.list-links li {
    margin: 0 1rem;
    padding: 0.5rem;
}
.list-right {
    display: flex;
    justify-content: flex-end;
    margin-left: 4rem;
}
.list-links a {
    text-decoration: none;
    color: grey;
}
.list-links li:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
}
.results-info p {
    display: flex;
    font-size: 0.8rem;
    color: grey;
    margin-left: 11.5rem;
    padding: 1rem 0;
}
.results-container {
    width: 40vw;
    height: 100vh;
    margin-left: 11.5rem;
}